/* ENTRY Styles */
.entry-container { 
    margin-left: 250px; 
    margin-top: 100px;
}

.sidebar {
    margin: 0;
    padding: 0;
    top: 0;
    width: 250px;
    background-color: #222225;
    color: #dfdfdf;
    /* background-color: #222222;
    color: white; */
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
}

.entry-container.conflict, .sidebar.conflict {
    display: none;
}
  
.sidebar a {
    color: #19c6dc;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Voice Actor */
.va-container {
    margin: auto;
}

.va-image {
    width: 100%;
    background-position: top center;
    background-size: cover;
    height: 300px;
    margin: auto;
    display: inline-block;
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.va-info {
    text-align: left;
    margin: 20px;
}

.va-info > * {
    word-break: break-word;
}

.va-name {
    font-size: 1.5em;
    display: inline-block;
    margin: 0;
}

.va-desc {
    font-weight: 300;
    font-size: .9em;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

/* Character List */
.entry-char-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 15px;
}

.sort {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    height: 24px;
    padding: 0 12px;
    margin: 0 10px;
    background-color: #222225;
    color: #b9b9b9;
    font-weight: 600;
    margin: 10px;
    right: 1%;
    position: absolute;
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.sort:hover {
    box-shadow: -2px 0px 16px 4px rgba(12, 12, 14, .4);
    cursor: pointer;
}

.entry-char {
    background-color: #222225;
    border-radius: 2px;
    text-align: left;
    vertical-align: top;
    height: 100px;
    margin: 7.5px;
    display: flex;
    flex: 1 0 32%;
    transition: all .2s ease-in-out;
}

.entry-char:hover {
    box-shadow: -2px 0px 16px 4px rgba(12, 12, 14, .8);
    cursor: pointer;
}

.entry-char:hover .entry-char-image {
    opacity: 1;
    filter: grayscale(0);
}

.entry-char > svg {
    height: 160px;
    width: 100%;
}

.entry-char-image {
    width: 90px;
    height: 100px;
    opacity: .9;
    filter: grayscale(0.35);

    background-position: top center;
    background-size: cover;
    transition: all .2s ease-in-out;
}

.entry-char-info {
    flex-shrink: 99;
    overflow: hidden;
    margin: 10px 20px;
}

.entry-char-name {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
}

.entry-char-role {
    color: white;
    font-weight: 700;
    font-size: .6em;
    padding: 4px 10px 3px 10px;
    border-radius: 10px;
    margin-left: 4px;
}

.entry-char-role.MAIN { background-color: #4CAF50; }
.entry-char-role.SUPPORTING { background-color: #19a8ba; }
.entry-char-role.BACKGROUND { background-color: #aaa; }

.entry-char-media {
    margin: 0;
    color: #b9b9b9;
    /* color: gray; */
    font-size: .8em;
    letter-spacing: 0.03em;
    font-weight: 300;
    height: 50px;

    -webkit-mask-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}



/* Media Queries */
@media screen and (max-width: 900px) {
    .header {
        width: calc(100% - 40px);
        margin: 0!important;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        background-color: rgba(0,0,0,0);
        margin-top: 80px;
    }
    .va-image {
        width: 200px;
        height: 200px;
        max-width: 100%;
        border-radius: 100%;
        background-position: center center;
        -webkit-mask-image: none;
    }
    .va-container { text-align: center; }
    .va-info { text-align: center; margin: 0 0 10px 0; }
    .va-desc { display: none; }
    .entry-container { margin-left: 0; margin-top: 0; }
    div:not(.home) > .suggestions { backdrop-filter: blur(80px); }
}

@media screen and (max-width: 400px) {
    .entry-char { flex: auto; }
    div:not(.home) > .suggestions {
        max-height: 500px;
        margin-top: 268px;
    }
    /* .entry-char-image { display: none; } */
}